/* Start My Personal Theme */
body {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #2bd376;
}
/* End My Personal Theme */

/* Start Section top-navbar */
.top-navbar {
  border-bottom: 2px solid #2bd376;
}

/* Start Section top-navbar */
.top-navbar .navbar-brand img {
  max-width: 40px;
  margin-right: 5px;
}

.top-navbar .navbar-brand span {
  color: #2bd376;
}

.top-navbar .nav-item .nav-link {
  transition: all 0.5s;
}

.top-navbar .nav-item .nav-link:hover {
  transition: all 0.5s;
  color: #2bd376 !important;
  background-color: black;
  border-radius: 5px;
}
/* Start Media For Section top-navbar */
@media (max-width: 767px) {
  .top-navbar .nav-item .nav-link {
    padding-left: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-navbar .nav-item .nav-link {
    padding-left: 5px;
  }
}
/* End Media For Section top-navbar */
/* End Section top-navbar */

/* Start Section page-cover */
.page-cover {
  background-image: url("../assets/Images/web/cover.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  height: 80vh;
  position: relative;
  border-bottom: 2px solid #2bd376;
}

.page-cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.page-cover .content {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.page-cover .content h1 span {
  color: #2bd376;
}
/* Start Media For Section page-cover */
@media (max-width: 767px) {
  .page-cover .content {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-cover .content {
    width: 80%;
  }
}
/* End Media For Section page-cover */
/* End Section page-cover */

/* Start Section about */
.about {
  overflow: hidden;
}

.about .left h2 span {
  color: #2bd376;
}

.about .left .continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3a4059;
  --background-left: #2b3044;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before,
.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow),
    0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before,
.continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before,
.continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(
    --b,
    linear-gradient(
      var(--pencil-top) 55%,
      var(--pencil-middle) 55.1%,
      var(--pencil-middle) 60%,
      var(--pencil-bottom) 60.1%
    )
  );
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: 0.15s;
  --pex: -24px;
}

.about .right img {
  border-radius: 25%;
}
/* Start Media For Section about */
@media (max-width: 767px) {
  .about .left {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about .left {
    margin-bottom: 50px;
  }
}
/* End Media For Section about */
/* End Section about */

/* Start Section why-choose-us */
.why-choose-us svg {
  font-size: 84px;
  color: #2bd376;
}

.why-choose-us h2 span {
  color: #2bd376;
}
/* Start Media For Section why-chhose-us */
@media (max-width: 767px) {
  .why-choose-us .box {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .why-choose-us .box {
    margin-bottom: 50px;
  }
}
/* End Media For Section why-choose-us */
/* End Section why-choose-us */

/* Start Section trip */
.trip h2 span {
  color: #2bd376;
}
/* End Section trip */

/* Start Section our-service */
.our-service h2 span {
  color: #2bd376;
}

.our-service svg {
  color: #2bd376;
  font-size: 30px;
}
/* End Section our-service */

/* Start Section contact */
.contact {
  background-color: #eaeaea;
  line-height: 2.2;
}

.contact h2 span {
  color: #2bd376;
}

.contact .box {
  align-items: baseline;
}

.contact .box svg {
  margin-right: 30px;
}

.contact .box span {
  color: #2bd376;
}
/* End Section contact */

/* Start footer */
footer .box ul {
  list-style-type: none;
}

footer .box ul h4 span {
  color: #2bd376;
}

footer .box ul li a {
  transition: all 0.5s;
  text-decoration: none;
}

footer .box ul li a:hover {
  color: #2bd376 !important;
  transition: all 0.5s;
}

footer h2 span {
  color: #2bd376;
}

footer .main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

footer .part-up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

footer .part-down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

footer .card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

footer .instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

footer .card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

footer .facebook {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

footer .card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

footer .linkedin {
  margin-top: -0.6em;
  margin-left: 1.2em;
  fill: blue;
}

footer .card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

footer .youtube {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

footer .card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

footer .card1:hover .instagram {
  fill: white;
}

footer .card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

footer .card2:hover .facebook {
  fill: white;
}

footer .card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: blue;
}

footer .card3:hover .linkedin {
  fill: white;
}

footer .card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #ff0004;
}

footer .card4:hover .youtube {
  fill: white;
}

footer .whats-button {
  margin-left: 50px;
  margin-top: 20px;
}

footer .btn-whats {
  background-color: green;
  color: #fff;
  border-radius: 6px;
  border: none;
  transition: all 0.5s;
  padding: 10px 15px;
}

footer .btn-whats:hover {
  background-color: red;
  transition: all 0.5s;
}
/* Start Media For footer */
@media (max-width: 767px) {
  footer .box {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .box {
    margin-bottom: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  footer .box {
    margin-bottom: 50px;
  }
}
/* End Media For footer */
/* End footer */

/* Start Section copy-rights */
.copy-rights {
  background-color: #1a1a1a;
}

.copy-rights h4 {
  margin: 0px;
}
/* End Section copy-rights */

/* Start section scroll */
.up {
  position: fixed;
  bottom: 20px;
  left: -40px;
  background-color: #2bd376;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 5px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: all 0.2s;
}

.up.show {
  left: 10px;
}
/* End section scroll */
