body {
  height: 3000px;
}

.top-navbar {
  border-bottom: 2px solid orange;
}

/* Start Section top-navbar */
.top-navbar .navbar-brand img {
  max-width: 40px;
  animation-name: rotator;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

@keyframes rotator {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.top-navbar .nav-item .nav-link {
  transition: all 0.5s;
}

.top-navbar .nav-item .nav-link:hover {
  transition: all 0.5s;
  color: orange !important;
}
/* End Section top-navbar */

/* Start Section page-cover */
.page-cover {
  background-image: url("../assets/Images/Cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  height: 80vh;
  position: relative;
  border-bottom: 2px solid orange;
}

.page-cover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.page-cover .content {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.page-cover .content h1 span {
  color: orange;
}
/* Start Media For Section page-cover */
@media (max-width: 767px) {
  .page-cover .content {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-cover .content {
    width: 80%;
  }
}
/* End Media For Section page-cover */
/* End Section page-cover */

/* Start Section why-choose-us */
.why-choose-us svg {
  font-size: 84px;
  color: aqua;
}
/* End Section why-choose-us */
